body {
  background-color: skyblue;
}

.App {
  padding: 100px;
}

.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 30px 30px 100px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.143);
}
.card img {
  height: 100px;
width: 100px;
object-fit: cover;
border-radius: 50px;
}
.user-infos {
margin-left: 20px;
}
.user-infos h5 {
font-size: 20px;
margin: 0;
}
.user-infos p {
  color: #777;
margin-bottom: 0;
}